<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" (click)="goBack()">&lt; Atrás</a>
        <div class="navbar-message">
            <span *ngIf="!isTicketsPage" class="nav-link" style="color: white;">1. Selecciona tus asientos</span>
            <span *ngIf="isTicketsPage && !isPaymentPage" class="nav-link" style="color: white;">2. Selecciona tus entradas</span>
            <span *ngIf="isPaymentPage" class="nav-link" style="color: white;">3. Paga tu compra</span>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn" (click)="cancelPurchase()">&#10005;</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
